user_uuid = "1ed5333a-473e-4638-b5da-6fa0903bcfcf"
bucket_name = "c8dc0j05pmx71kiw2d19gyk5cc7bh5ql" 
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 1