terratowns_endpoint="https://terratowns.cloud/api"
baja_blast = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/baja_blast"
  content_version = 2 
}
rum_cake = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/rum_cake"
  content_version = 1 
}